<!-- top first nav bar -->

<div class="nav">
  <div class="nav-logo">
    <img class="logo" src="../../../../../favicon.ico" alt="logo" />
    <label>PIMA</label>
  </div>

  <div class="nav-search">
    <div class="search-menu">
      <button class="btn-all">All <i class="fa fa-caret-down"></i></button>
    </div>
    <div class="search-input">
      <input
        id="search-input"
        placeholder="Search..."
        autocomplete="off"
        type="text"
        placeholder="Search..."
      />
    </div>
    <div class="search-button">
      <button class="btn-search">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

  <div class="end">
    <div class="nav-cart">
      <button class="nav-cart">Cart <i class="fa fa-shopping-cart"></i></button>
    </div>
    <div class="nav-logout">
      <button class="nav-logout">Logout</button>
    </div>
  </div>
</div>

<!-- top second nav bar -->
<div class="nav-2">hi</div>
